*{
}
.box {
    width: 100%;
    height: 100px;
    background-color: #333321;
    position: relative;
    top: 100px;
}

.reg{
    width:100%;
    height:400px;
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
    padding:30px;
    direction: rtl;
}
.reg-in{
    width:100%;
}
.reg form{
    width: 100%;
}
.reg form label{
    position: relative;
    top:40px;
    right:40px;
}
.reg form input{
    position:relative;
    top:50px;
    right:50px;
    width:80%;
    line-height: 32px;
    border:1px solid #040450
}
.reg form input:focus{
    background-color: #55e;
}
