*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
*::selection{
    background-color:#ff7713;
    color:#eee;
}
body{
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 10px;
}

.main-container{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
}
.header-container{
    width:100%;
    height:auto;
}
.header-container .logo-container{
    position: relative;
    margin:10px;
}
.body-container{
    width:100%;
    height:auto;
    display:flex;
}
.menu{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    float:right;
    direction: rtl;
    position: relative;
    top:50%;
    transition: 1s;
    border-top: 1px solid #999999;
}
.menu a{
    display: block;
    width:100%;
    margin:0 15px 0 15px;
    font-size: 18px;
    line-height: 36px;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    color:black;
    transition: 0.5s;
}
.menu a:nth-child(n){
    border-left: 1px solid #999999;
    padding-left:20px;
}
.menu a:nth-child(4){
    border:none;
}
.bottom-filler{
    width:100%;
    height:0;
    transition: 0.5s;
    background-color: coral;
}
.menu a:hover .bottom-filler{
    height:2px;
}
.menu a:hover{
    color:coral;
}

.menu a:hover::after {
    content:"";
    position: absolute;
    display: block;
    width:100%;
    height:22px;
    color:black;
}
.menu-icon-{
    width:32px;
    height:32px;
}
.brand{
    width:100%;
    color:#e5e5e5;
    background-color: #2f0a52;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:10px;

}
.site-name{
    font-size: 48px;
    width:100%;
    font-weight: lighter;
    color:#e5e5e5;
    margin: 20px 0 2px 0;
    background-color: #2f0a52;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-name span{
    display: block;
    align-self: center;
}
.body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container1,.container2,.container3{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin:30px;
}
.image-container{
    transition: 0.5s;
    overflow: hidden;background-size: cover;
    display:flex;
    justify-content: center;
}
.image-container:hover{
    opacity: 0.8;

}
.image-container img{
    width:400px;
    height:400px;
    transform-origin: center center;
    animation-name: popnimation;
    animation-duration: 1s;
    align-self: center;
}
.text-container{
    padding:40px;
}
.text-container{
    text-align: right;
    line-height: 24px;
}
.seperator{
    width:100%;
}
.images-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.images-container span{
    align-self: center;
    font-size: 43px;
}
.product-images-container{
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}
.product-images-container img{
    width:200px;
    height:150px;
    margin: 20px;
}
.product-images-container img:hover{
    opacity: 0.8;
    transform: scale(1.08);
}
.products {
    display: flex;
    flex-direction: column;
}
.people-love{
    width:100%;
    height: 300px;
    background-color: #999;
    justify-content: center;
    direction: rtl;
    display:flex;
}
.animation-number{
    width:80%;
    font-size: 48px;
    position:relative;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.people-love-us{
    padding:30px;
    margin:30px;
    margin-top:30px;
    background-image:url("https://platinslimming.com/wp-content/themes/betheme/images/stripes/stripes_10_b.png");
}
.people-love-us img{
    color: coral;
    margin:20px;
    position: relative;
    top:20px;
}
.people-love-us span{
    font-size:20px;
    display:block;
    position: relative;
    line-height: 24px;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.people-text{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.people-love .people-text span{
    font-size: 32px;
}
.back-to-top{
    width:100%;
    height:50px;
    background-color: #2f0a52;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.back-to-top-icon{
    align-self: center;
    width:30px;
    height: 30px;
    overflow: hidden;
}
.rights-reserved{
    background-color: #2f0a52;
    text-align: center;
    height:50px;
    color:#eeeeee;
}
.rights-reserved span{
    color:coral;
}
@media screen and (max-width: 789px){
    .menu{
        height:0px;
        width:100%;
        overflow: hidden;
        flex-direction: column;
    }
    .brand{
        height:200px;
    }
    .header-container{
        width:100%;
    }
    .logo{
        position: absolute;
        top:0;
        left:50%;
        transform:translate(-50% ,0);
    }
}
.show{
    height:200px;
}
@media screen and (min-width: 790px){
    .menu-icon{
        display:none;
    }
    .logo{
        position: absolute;
        top:10%;
        left:20%;
    }
    .brand{
        height:100px
    }
    .menu{
        margin:30px;
    }
}
@keyframes popnimation {
    0%{
        width:0;
        height:0;
}
    100%{
        width:400px;
        height:400px;
    }
}